@import url("colors.css");

.card {
    display: flex;
    text-align: center;
    padding: auto;
    border-radius: 15px;
    border: none;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--darkred-color);

}

.card:hover {
    /* filter: brightness(90%); */
    scale: 101%;
    border: 3px solid var(--darkred-color);
}

.card-content {
    display: flex;
    height: 90%;
    width: 90%;
    justify-content: center;
    align-items: center;
    text-align: center;

}