:root {
    --black-color: #195962;
    --grey-color: #7e8086;
    --white-color: #FFFFFF;
    --red-color: #F56F6C;
    --darkred-color: #a74c4b;
    --blue-color: #195962;
    --lightgrey-color: #e1e1e3;
    --lightgrey2-color: #d2d2d3;
}