 @media (max-width: 992px) {
     .set-builder-container {
         flex-direction: column;
         height: 180%;
     }

     .set-container {
         width: 95%;
         height: 50%;
         justify-content: space-around;
         margin-bottom: 5px;

     }

     .set-card-viewer {
         width: 90%;
         height: 90%;
         flex-direction: column;
     }

     .set-card-preview {
         width: 90%;
         height: 90%;
         flex-direction: column;
     }

     .preview-left-col {
         flex-direction: column;
         width: 100%;
         max-height: 50%;
         border-bottom: 2px solid var(--lightgrey-color);

     }


     .set-btn-big {
         font-size: 50px;
     }

     .set-preview-text {
         height: 95%;
         min-width: 90%;
         max-width: 95%;
         font-size: 40px;
         padding: 30px 5px;
     }

     .set-viewer-controller {
         left: 5%;
         bottom: 5%;
         position: fixed;
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: space-evenly;
         width: 90%;
     }

     .set-change-mode {
         left: 5%;
         bottom: 1%;
         position: fixed;
         display: flex;
         flex-direction: row;
         justify-content: space-evenly;
         width: 90%;
     }

     .set-btn {
         font-size: 50px;
     }

     .set-textarea {
         height: 80%;
         font-size: xx-large;
     }

     .set-text-input-container {
         height: 70%;
     }

     .counter-txt {
         font-size: xx-large;
     }

     .set-viewer-btn {
         font-size: 50px;
     }

     .set-name-input-div {
         font-size: 50px;
     }

     .set-name-input {
         font-size: 50px;
     }

     .set-check-input {
         transform: scale(3);
     }

     .mobile-bigger{
        font-size: 50px;
     }
 }

 @media (min-width: 992px) {
     .set-builder-container {
         /* position: fixed; */
         flex-direction: row;
         justify-content: center;
         height: 85%;
         padding: 2px;
         left: 0;
     }

     .set-container {
         width: 90%;
         height: 100%;
         justify-content: space-around;

     }

     .set-card-viewer {
         width: 90%;
         height: 80%;
         flex-direction: row;
     }

     .set-card-preview {
         width: 90%;
         height: 45%;
         flex-direction: row;

     }

     .preview-left-col {
         flex-direction: column;
         max-width: 40%;
         border-right: 2px solid var(--lightgrey-color);

     }

     .set-viewer-controller {
         width: 60%;
         margin: 1px auto 1px;
         display: flex;
         flex-direction: row;
         justify-content: space-evenly;
     }

     .set-btn-big {
         font-size: xx-large;
     }

     .set-viewer-btn {
         font-size: xx-large;
     }

     .set-btn {
         font-size: x-large;
     }

     .set-textarea {
         height: 70%;
         font-size: large;
     }

     .set-preview-text {
         width: 60%;
         font-size: xx-large;
     }

     .set-change-mode {
         margin: 10px;
     }

     .counter-txt {
         font-size: large;
     }

     .set-name-input-div {
         font-size: x-large;
     }


     .set-name-input {
         font-size: x-large;
     }

     .set-check-input {
         transform: scale(2);
     }
 }


 .set-builder-container {
     font-size: large;
     display: flex;
     gap: 5px;
     margin-top: 10vh;
     width: 100%;
 }

 .set-container {
     display: flex;
     flex-direction: column;
     max-width: 100% !important;
     border-radius: 5px;
     border: 2px solid var(--darkred-color);
     background-color: var(--lightgrey-color);
     padding: 5px;
 }

 .set-flipper {
     display: flex;
     flex-direction: row;
     align-items: center;
     min-height: 10%;
     margin: 1px;
     /* max-width: 50% !important; */
 }

 .set-text-input-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
     min-height: 50%;
     margin: 1px;
 }

 .set-card-preview {

     border-radius: 5px;
     border: 2px solid var(--grey-color);
     background-color: white;
     margin: 2px auto 2px;
     display: flex;
 }

 .set-card-viewer {

     border-radius: 5px;
     border: 2px solid var(--grey-color);
     background-color: white;
     margin: 2px auto 2px;
     display: flex;
 }



 .set-preview-text {
     resize: none;
     border: none;
     /* margin: 5px; */
     display: flex;
     height: 95%;
     align-items: center;
     justify-content: center;
     text-align: center;
     vertical-align: middle;
 }

 .preview-left-col {
     display: flex;
 }

 .viewer-left-col {
     display: flex;
     flex-direction: column;
     min-width: 40%;
     border-right: 2px solid var(--lightgrey-color);

 }


 .set-textarea {
     width: 95%;
     border-radius: 5px;
     border: 2px solid var(--grey-color);
     resize: none;
 }

 .set-img-input {
     border-radius: 5px;
     border: 2px solid var(--grey-color);
     font-size: x-large;
 }

 .set-preview-img {
     margin-left: auto;
     margin-right: auto;
     max-width: 95%;
     max-height: 80%;
     border-radius: 5px
 }

 .set-viewer-img {
     margin: auto 5px auto;
     max-width: 100%;
     max-height: 100%;
     border-radius: 5px;
 }

 .set-btn {
     color: var(--grey-color);
     border-radius: 5px;
     outline-color: var(--grey-color);
     outline-width: 2px;
     outline-style: solid;
     font-weight: bold;
     min-width: fit-content;
     width: 30%;
     border: none;
     margin: 5px;
     padding: 5px 10px;
 }

 .set-btn-big {
     color: var(--grey-color);
     border-radius: 5px;
     outline-color: var(--grey-color);
     outline-width: 2px;
     outline-style: solid;
     font-weight: bold;
     min-width: fit-content;
     width: 30%;
     height: max-content;
     border: none;
     margin: 3px;
     padding: 5px 10px;
     text-decoration: none;
 }

 .set-viewer-btn {
     color: var(--grey-color);
     border-radius: 5px;
     outline-color: var(--grey-color);
     outline-width: 2px;
     outline-style: solid;
     font-weight: bold;
     min-width: 30%;
     height: max-content;
     border: none;
     margin: 3px;
     padding: 5px 10px;
     text-decoration: none;
 }

 .set-btn:hover {
     background-color: var(--grey-color);
     color: var(--lightgrey-color);
 }

 .set-btn:disabled {
     background-color: var(--grey-color);
     color: var(--lightgrey-color);
 }

 .set-name-input-div {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin: 3px;
     min-height: 10%;
     width: 60%;
 }

 .set-name-input {
     border-radius: 10px;
     border: 2px solid var(--grey-color);
     margin: 1px;
     padding: 2px;
 }

 .set-check-input {
     vertical-align: middle;
     margin: 5px;
 }

 .set-name-label {
     margin: auto 2px auto;
 }

 .set-controller {
     /* margin: 1px; */

     min-width: fit-content;
     width: 50%;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     /* flex-wrap: wrap; */
 }

 .set-viewer-controller {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-evenly;
     row-gap: 5px;
 }